go 1.25.0

use (
	.
	./grammar
	./grammar/COBOL
	./grammar/ada
	./grammar/asm
	./grammar/bicep
	./grammar/capnp
	./grammar/chatito
	./grammar/clojure
	./grammar/cmake
	./grammar/core_schema
	./grammar/cpon
	./grammar/cst
	./grammar/csv
	./grammar/cyberchef
	./grammar/dart
	./grammar/diff
	./grammar/eex
	./grammar/embedded_template
	./grammar/erlang
	./grammar/fish
	./grammar/func
	./grammar/git_rebase
	./grammar/gitcommit
	./grammar/gitignore
	./grammar/gleam
	./grammar/gn
	./grammar/godot_resource
	./grammar/gosum
	./grammar/graphql
	./grammar/gstlaunch
	./grammar/hare
	./grammar/hyprlang
	./grammar/ini
	./grammar/jsdoc
	./grammar/json
	./grammar/json_schema
	./grammar/legacy_schema
	./grammar/linkerscript
	./grammar/llvm
	./grammar/luadoc
	./grammar/luau
	./grammar/markdown_inline
	./grammar/meson
	./grammar/move
	./grammar/nasm
	./grammar/nix
	./grammar/nqc
	./grammar/objdump
	./grammar/pascal
	./grammar/pem
	./grammar/po
	./grammar/printf
	./grammar/properties
	./grammar/proto
	./grammar/psv
	./grammar/puppet
	./grammar/pymanifest
	./grammar/ql
	./grammar/ql_dbscheme
	./grammar/qmldir
	./grammar/query
	./grammar/rasi
	./grammar/re2c
	./grammar/regex
	./grammar/requirements
	./grammar/rescript
	./grammar/scss
	./grammar/smali
	./grammar/smithy
	./grammar/solidity
	./grammar/squirrel
	./grammar/ssh_config
	./grammar/surface
	./grammar/tablegen
	./grammar/test
	./grammar/thrift
	./grammar/toml
	./grammar/tsv
	./grammar/twig
	./grammar/ungrammar
	./grammar/uxntal
	./grammar/vhdl
	./grammar/vimdoc
	./grammar/wast
	./grammar/wat
	./grammar/wgsl
	./grammar/wgsl_bevy
	./grammar/wit
	./grammar/xcompose
	./grammar/yuck
	./grammar/zig
)
